/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main {
  display: flex;
  width: 100%;
  justify-content: center;
}
#testoAlternato {
  border: 2px solid black;
  width: 60%;
  margin: 2rem;
  padding-block: 3rem;
  padding-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.parole {
  color: #6d899b;
  position: relative;
  display: block;
}

i {
  position: absolute;
  opacity: 0;
  top: -28px;
  opacity: 0;
  right: 76px;
}
.uno {
  z-index: 1;
  animation: rotation 3s infinite 1s;
}
.due {
  z-index: 2;
  opacity: 0;
  animation: rotation 5s infinite 3s;
}
.tre {
  z-index: 3;
  opacity: 0;
  animation: rotation 7s infinite 5s;
}

@keyframes rotation {
  0% {
    translate: 0 -50px;
    opacity: 0.5;
  }
  20% {
    translate: 0 30%;
    opacity: 0.8;
  }
  50% {
    translate: 0 60%;
    opacity: 1;
  }

  75% {
    translate: 0 80%;
    opacity: 0;
  }
  100% {
    translate: 0 100%;
    opacity: 0;
  }
}
