/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main {
  display: flex;
  width: 100%;
  justify-content: center;
}
#testoAlternato {
  border: 2px solid black;
  width: 60%;
  margin: 2rem;
  padding-block: 3rem;
  padding-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.parole {
  color: #6d899b;
  position: relative;
  display: inline-block;
  width: 260px;
  height: 16px;
}

.frase {
  position: absolute;
  opacity: 0;
  top: 0;
  animation: rotation 6s infinite;
  left: 0;
}

.uno {
  z-index: 1;
}
.due {
  z-index: 2;
  animation-delay: 2s;
}
.tre {
  z-index: 3;
  animation-delay: 4s;
}

@keyframes rotation {
  0% {
    translate: 0 -50px;
    opacity: 0;
  }
  10% {
    translate: 0 0;
    opacity: 1;
  }
  28% {
    translate: 0 0;
    opacity: 1;
  }
  33% {
    opacity: 0;
    translate: 0 50px;
  }

  100% {
    opacity: 0;
  }
}
